/*************************/
/* Responsive Web Design */
/*************************/

/* Mobile Mode */
@media screen and (max-width: 800px)
{
  /*****************************************************/
  /* Collapse all website page articles to column drop */
  /*****************************************************/
  .template-01
  {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-inline: 4vw;
    row-gap: 10px;
    column-gap: 10px;
  }

  /*****************************************************/
  /* Make External Links Container Wrap Responsively.  */
  /*****************************************************/
  .template-02 > div 
  {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    row-gap: 10px;
  }
}

/* Desktop Mode */
@media screen and (min-width: 801px)
{
  /*****************************************************/
  /* Expand all website page articles to standard row  */
  /*****************************************************/
  .template-01
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }

  /*****************************************************/
  /* Expand External Links Container to standard row   */
  /*****************************************************/
  .template-02 > div 
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 10px;
  }
}


/**********************************/
/**********Template 01*************/
/* Used for displaying an article.*/
/**********************************/
.header-addon
{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;
  align-items: center;
}

.header-addon > h1 
{
  font-size: calc(2rem + 1vw);
}

.template-01 > img, .template-01 > div > img
  {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: contain;
    justify-self: center;
    align-self: center;
  }

.description-wrapper-01
{
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
}

.description-wrapper-01 > h1
{
  font-size: 1.5rem;
  align-self: center;
}

.description-wrapper-01 > h2
{
  font-size: 1.35rem;
  align-self: center;
}

.description-wrapper-01 > h3
{
  font-size: 1.1rem;
  align-self: center;
}

.description-wrapper-01 > p
{
  font-size: calc(0.8rem + 0.3vw);
}

.description-wrapper-01 > ol > li
{
  padding: 5px 0px;
  font-size: calc(0.8rem + 0.3vw);
  font-weight: bold;
}

h2.click-tooltip 
{
  font-size: calc(0.8rem + 0.4vw);
}

/*****************************************************/
/*            Custom header configurations           */
/*****************************************************/
h1.c-header-01
{
  font-weight: bold;
  font-size: calc(1.5rem + 0.3vw);
}

h2.c-header-01
{
  font-weight: normal;
  font-size: calc(1rem + 0.3vw);
}

/****************************************************/
/*********            Template 02       *************/
/* Used for redirecting people to external websites.*/
/****************************************************/
.template-02
{
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 2%;
  row-gap: 40px;
}

.template-02-bg-image
{
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  background-color: rgb(26, 25, 25);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  row-gap: 30px;
  transition: box-shadow 0.5s;
}

.template-02-bg-image:hover
{
  box-shadow: 0px 0px 4px 4px rgb(150, 150, 150);
}

.template-02-bg-image > h1
{
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.template-02-bg-image > p 
{
  font-family: Rubik, Helvetica, Arial, sans-serif;
  color: #c2c2c2;
  text-align: center;
}

.external-btn
{
  padding: 10px 25px;
  background-color: rgb(47, 48, 58);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: 0px;
  border-radius: 4px;
  transition: 0.5s background-color, color;
}

.external-btn:hover
{
  background-color: rgb(202, 202, 202);
  color: black;
  cursor: pointer;
}

/********************************************/
/*********     Template 03   ****************/
/******Used mainly for styling forms.********/
/********************************************/
.template-03
{
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 1200px;
  row-gap: 15px;
  padding-inline: 4vw;
}

.template-03 > h1, .template-03 > h2
{
  text-align: center;
  align-self: center;
}

.template-03 > h1
{
  font-size: calc(2rem + 0.3vw);
}

.template-03 > h2
{
  font-size: calc(1.2rem + 0.3vw);
}

.question-box
{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  width: 100%;
}

.question-box > h3
{
  font-size: calc(0.8rem + 0.3vw);
}

.question-box > div 
{
  display: grid;
  grid-template-columns: min-content auto;
}

.question-box > div > label
{
  font-size: calc(0.7rem + 0.3vw);
}

/*********************************************/
/*           Interactive Image Maps          */
/* Stores all styling relating to image maps.*/
/*********************************************/
#biceps-anatomy, #back-anatomy, #legs-anatomy{
  position: relative;
  max-width: 100%;
  width: 100%;
}

#biceps-anatomy > button, #back-anatomy > button, #legs-anatomy > button {
  position: absolute;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  background-color: white;
}

iframe.maps {
  width: 100%;
  min-height: 450px;
  height: 100%;
}

/******************************************/
/*        Forms General Styling           */
/******************************************/
form.formStyle
{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 15px;
}

form > input
{
  width: min-content;
  display: inline;
}

/********************************************/
/*              Video Template 01           */
/* Used to style and display YouTube videos.*/
/********************************************/
.video-template-01 
{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  align-items: center;
}

.video-template-01 > h1, .video-template-01 > h2, .video-template-01 > iframe
{
  width: 100%;
  max-width: 1200px;
  text-align: center;
  border: 0px;
}

.video-template-01 > h1
{
  font-size: calc(1.2rem + 0.8vw);
}

.video-template-01 > h2
{
  font-size: calc(1rem + 0.3vw);
}

.video-template-01 > p
{
  font-size: calc(0.8rem + 0.3vw);
}

.video-template-01 > iframe
{
  min-height: 250px;
  height:calc(250px + 20vw);
  max-height: 600px;
}